<div class="row">
  <div class="col s3" *ngFor="let contact of contacts">

    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://images.squarespace-cdn.com/content/v1/5c6b8892e8ba449a332dfcbf/1561696867270-EO64ZJZL4G8ORP06L4Z3/ke17ZwdGBToddI8pDm48kFoE05wG0SCNmhZN7p9SEzxZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpxmlw_1uZsYghsxnlL6WLT-lMPU7QSw2RuPl5yb5nYptltVLoBMwGjPaFVarMvCgZw/auxiliares+de+conversaci%C3%B3n+conversacion+program+spain+language+and+culture+assistants+MEC+ministerio+de+educaci%C3%B3n+educacion+program+spain+lesson+plans+EFL+ESL+TOEFL+move+to+Spain+doesn%27t+understand+lesson">
      </div>

      <div class="card-content center-align">
        <span class="card-title activator grey-text text-darken-4">{{contact.name}}<i class="material-icons right"></i></span>
        <p>{{contact.cel}}</p>
        <p>{{contact.mail}}</p>
      </div>

      <div class="card-action center-align">
        <p><a href="#">VIEW CONTACT</a></p>
      </div>
      <!-- <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{contact.name}}<i class="material-icons right">close</i></span>
        <p>email: {{contact.email}}</p>
      </div>
    -->
    </div>

  </div>
</div>
